.wholeWrapper {
    width: 100%;
    padding: 2em 0;
}

.link {
    text-decoration: none;
}

.link:link {
    color: white;
}

.link:visited {
    /* color: #8f384d; */
    color: white;
}

.pageTitle {
    color: black;
    margin-bottom: 3em;
    margin-top: 0;
    font-size: 2.5em;
    text-align: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    ". deleteBtn"
    "index name"
    "index date"
    "menuItem menuItem";
    grid-row-gap: 1em;
    width: 65%;
    margin: 2em auto;
    padding: 3em 0em;
    background: #5c6e91;
    border-radius: 15px;
    transition: all 0.4s ease-out;
    transition: background-color 1s ease-out; 
}

.gridContainer:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 35px 10px rgba(0,0,0,0.85); 
    box-shadow: 0px 0px 35px 10px rgba(0,0,0,0.85);
    opacity: 0.7;
    background-color: #5297ff;
}

.indexSection {
    grid-area: index;
    font-size: 2em;
    margin: 0 auto;
    padding-top: 25%;
}

.nameSection {
    grid-area: name;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 2em;
}

.dateSection {
    grid-area: date;
    margin: 0 auto;
    padding: 1em;
    font-size: 1.1em;
}

.cardMenuContainer {
    grid-area: menuItem;
    margin-top: 2em;
}

.cardUL {
    padding: 0;
    justify-content: space-around;
    text-align: center;
    display: flex;
}

.menuList {
    font-size: .9em;
    /* width: 30%;
    margin: 0 auto; */
    display: inline-block;
    padding: 1em 1em;
    border: 3px solid white;
    border-radius: 25px;
    -webkit-box-shadow: 0px 15px 40px 10px rgba(0,0,0,0.6); 
    box-shadow: 0px 15px 40px 10px rgba(0,0,0,0.6);
    
}

.menuList:hover  {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
}